
.content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.content-wrap {
    width: 950px;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 5px;
}
.content-header {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc ;
}
.content-header-image {
    width: 116px;
}

.content-header-image img {
    width: 100%;
}

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 65px 65px;
}
.content-main-title {
    font-size: 20px;
    font-weight: bold;
    color: #c91d1d;
    margin: 5px 0;
}
.content-main-image {
    width: 70px;
}

.content-main-image img {
    width: 100%;
}

.btn-erorr {
    background-color: rgba(201, 29, 29,0.7);
    padding: 10px 15px;
    margin: 20px 0;
    border: none;
    outline: none;
}

.btn-erorr a {
    color: white;
    text-decoration: none;
}

.btn-erorr:hover {
    background-color: rgba(201, 29, 29,1);
}

.content-footer {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 20px 0;
 }

 .content-footer-phone a,
 .content-footer-mail a {
    display: flex;
    margin-left: 24px;
    font-size: 18px;
    align-items: center;
 }

 .phone-icon,
 .mail-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-right: 10px;
 }

 .phone-icon i,
 .mail-icon i {
    color: #000;
 }

 /* Thanh cong */
 .content-main-title-success {
    font-size: 20px;
    font-weight: bold;
    color: #51d3c7;
    margin: 5px 0;
}
 .btn-success {
    background-color: rgba(81, 211, 199,0.7);
    padding: 10px 15px;
    margin: 20px 0;
    border: none;
    outline: none;
}

.btn-success a {
    color: white;
    text-decoration: none;
}

.btn-success:hover {
    background-color: rgba(81, 211, 199,1);
}
