
.content {
    background-color: #f9f9f9;
}
.content-wrap {
    width: 800px;
}

.select_active {
    color :#034ea2!important;
    border-bottom: 2px solid #034ea2;
}

.content-main {
    background-color: white;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}



form input[type='text'],
form input[type='password']{
    border: none;
    outline: none;
    height: 100%;
}

.submit_change_account {
    width: 120px;
    height: 40px;
    background-color: rgb(245 128 32 );
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;

}
/* Thay đổi email */
.overlay_email {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.change_mail {
    width: 380px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.change_mail i {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
}
.change_mail h1 {
    font-size: 20px;
    font-weight: bold;
}
.change_mail input {
    border: 1px solid #ccc;
    background-color: #e8f0fe;
    border-radius: 5px;
    padding: 8px 10px;
}

.change_mail input:focus {
    outline: 1px solid #9dc0fa;
}

.change_mail button {
    margin: 20px 0px;
    width: 100%;
    background-color: rgb(245 128 32 );
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 0px;
    color: white;
}

/* mật khẩu */

.overlay_password {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.change_password {
    width: 380px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}
.change_password i {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
}
.change_password h1 {
    font-size: 20px;
    font-weight: bold;
}

.change_password button {
    margin: 20px 0px;
    width: 100%;
    background-color: rgb(245 128 32 );
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 0px;
    color: white;
}
